@using System.Web.Mvc.Html;

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
    <p>Параметр:</p>
    <p>@ViewBag.Message</p>
    <p>
        <input type="submit" value="Зарегистрироваться" />
    </p>
</div>
</body>
</html>